<h3 class="font-headline">Add a new course</h3>
   <form [formGroup]="courseForm" (submit)="createForm()" class="font-word">
        <div>
            <label for="course" class="text-md tracking-wide leading-9 block">Course Title <span class="text-sm text-orange-500">(e.g PCP506)</span></label>
            <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.course }}</p>
            <input type="text" required formControlName="course" class="text-md rounded-lg px-3 py-3 bg-gray-100 border-white/20 w-3/4 focus:border-0 focus:outline-none focus:shadow-lg">
        </div>
        <div>
            <label for="type" class="text-md tracking-wide leading-9 block">Type of the Course</label>
            <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.type }}</p>
            <!-- <input type="text" required formControlName="type" class="text-md rounded-lg px-3 py-3 bg-gray-200 border-white/20 w-3/4 focus:border-0 focus:outline-none focus:shadow-lg"> -->
            <select name="type" id="type" formControlName="type" class="text-md rounded-lg px-3 py-3 bg-gray-100 border-white/20 w-3/4 focus:border-0 focus:outline-none focus:shadow-lg">
                  <option value="" class="py-2 px-2"> Choose the question type for the course</option>
                  <option value="mcq" class="py-2 px-2">Multiple Choice Questions</option>
                  <option value="german" class="py-2 px-2">Fill-in-the-blanks</option>
                  <option value="trueorfalse" class="py-2 px-2">True or false</option>
                  <option value="essay" class="py-2 px-2">Essay</option>
            </select>
        </div>
        <div class="mt-5 flex justify-center ">
            <button type="submit" class="py-3 px-4 bg-orange-500 text-white text-md tracking-wider hover:shadow-lg border-0 rounded-lg disabled:bg-gray-300 disabled:text-white" [disabled]="!courseForm.valid" >Create course</button>
        </div>
   </form>
