<div>
     <header class="sticky top-0 bg-white py-0 my-0 z-20">
          <div class="flex justify-around items-center px-10 py-3">
               <h1 class="my-2 font-headline">Takeaquiz</h1>
               <nav>
                    <ul class="flex justify-end gap-4 ">
                         <li class="list-none"><a routerLink="/login" class="no-underline text-lg text-white bg-blue-500 rounded-full py-3 px-8 hover:transition-all hover:-translate-y-1 font-word">Sign up</a></li>
                         <li class="list-none"><a routerLink="/prep" class="no-underline text-lg text-black font-word">Student</a></li>
                    </ul>
               </nav>
          </div>
     </header>
     <section>
          <div class="bg-orange-500 w-full">
               <p class="text-xl text-white text-center py-3 my-0">Sign up to use for <span class="font-bold text-xl text-white font-word">Free</span></p>
          </div>
          <section class="w-full py-28 bg-blue-100 my-0 flex justify-center gap-20 items-center">
               <div class="w-4/12">
                    <h1 class="text-4xl text-left tracking-wider my-0 font-headline">Join the Elite Lecturers</h1>
                    <p class="text-lg text-left leading-9 tracking-wider my-1 font-word">You don't have  to crack your time grading, recording and sorting your students anymore. Join the community and we handle all of these for you</p>
                    <div class="flex justify-center">
                         <a routerLink="/login" class="no-underline tracking-wide py-3 px-8 text-lg rounded-full bg-blue-500 text-white text-center mt-2 hover:transition-all hover:-translate-y-2 font-word">Create an account</a>
                    </div>
               </div>
               <div class="flex justify-center rounded-full w-5/12 relative z-10">
                    <img src="../../assets/pc.png" alt="Welcome to Takeaquiz" class="absolute w-64 -m-32 right-0 bottom-48">
                    <img src="../../assets/phone.png" alt="Welcome to Takeaquiz" class="absolute w-16 h-32 -m-4 right-0 top-48">
                    <img src="../../assets/banner.png" alt="Welcome to Takeaquiz" class="w-full h-full rounded-full">
               </div>
          </section>
     </section>
     <div class="flex justify-center items-center bg-white py-32 px-12 gap-12">
          <div class="">
               <div class="flex justify-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" class="w-24 h-24 rounded-full text-blue-500">
                      <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2H6zm1 2a1 1 0 000 2h6a1 1 0 100-2H7zm6 7a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-3 3a1 1 0 100 2h.01a1 1 0 100-2H10zm-4 1a1 1 0 011-1h.01a1 1 0 110 2H7a1 1 0 01-1-1zm1-4a1 1 0 100 2h.01a1 1 0 100-2H7zm2 1a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm4-4a1 1 0 100 2h.01a1 1 0 100-2H13zM9 9a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zM7 8a1 1 0 000 2h.01a1 1 0 000-2H7z" clip-rule="evenodd" />
                    </svg>
               </div>
               <h3 class="text-center font-headline">Easy to use</h3>
               <p class="text-center text-lg font-word">The interface is designed to be accessible and does not require a lot of technical know-how. Just your essential use of typing and website navigation. The links are always available and adequately named in easy-to-understand terms.</p>
          </div>
          <div>
               <div class="flex justify-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" class="w-24 h-24 rounded-full text-blue-500">
                      <path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z" />
                    </svg>
               </div>
               <h3 class="text-center font-headline">Free to get started</h3>
               <p class="text-center text-lg font-word">Takeaquiz is free to get started for your first 3 months after which you get upgraded to a premium plan of #2500 which has 3 question types to get started including fill-in-the-blanks question types.</p>
          </div>
          <div>
               <div class="flex justify-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" class="w-24 h-24 rounded-full text-blue-500">
                      <path fill-rule="evenodd" d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                    </svg>
               </div>
               <h3 class="text-center font-headline">Easily accessible</h3>
               <p class="text-center text-lg font-word">Takeaquiz does not require installation to get started, just your device (Personal Computer works fine) and a stable internet connection. </p>
          </div>
          <div>
               <div class="flex justify-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" class="w-24 h-24 rounded-full text-blue-500">
                      <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd" />
                    </svg>
               </div>
               <h3 class="text-center font-headline">Efficient and effective upgrades</h3>
               <p class="text-center text-lg font-word">Takeaquiz is always being upgraded in terms of security and features. Other question types are being developed. Feel free to reach out if you have any concerns or need help using the platform, we are always here to help you.</p>
          </div>
     </div>
     <section class="bg-blue-500 py-28 w-full">
          <div class="flex justify-center items-center gap-8 mb-5 ">
               <div class="w-3/12 bg-white">
                    <img src="../../assets/easy.jpg" alt="" class="w-full h-64">
                    <p class="text-center my-0 py-3 bg-white text-gray-800 font-word">The continous setting of questions over a long period</p>
               </div>
               <div class="w-3/12 bg-white">
                    <img src="../../assets/mansmile.jpg" alt="" class="w-full h-64">
                    <p class="text-center my-0 py-3 bg-white text-gray-800 font-word">Easily set quiz details in real time</p>
               </div>
               <div class="w-3/12 bg-white">
                    <img src="../../assets/settings.jpg" alt="" class="w-full h-64">
                    <p class="text-center my-0 py-3 bg-white text-gray-800 font-word">Ease of editing questions</p>
               </div>
          </div>
          <div class="flex justify-center">
               <a routerLink="/login" class="bg-blue-100 text-black py-3 px-6 rounded-full shadow-md no-underline hover:shadow-lg mt-5 text-lg hover:transition-all hover:-translate-y-1 font-word">Create an account</a>
          </div>
     </section>
     <section class="bg-white pb-28 py-12 w-full">
          <h2 class="text-center tracking-wider mb-10 font-headline">Hear from our users</h2>
          <div class="flex justify-center items-center gap-6 px-12">
               <div class="w-3/12">
                    <div class="h-48 w-48 rounded-full overflow-hidden mx-auto">
                         <img src="../../assets/nini.jpg" alt="" class="h-full w-full rounded-full">
                    </div>
                    <p class="text-center text-lg font-word">It's very easy to use, and you don't have to learn how to use it. It's all self-explanatory. This is a great site for teachers who need to give quizzes or tests.</p>
               </div>
               <div class="w-3/12">
                    <div class="h-48 w-48 rounded-full overflow-hidden mx-auto">
                         <img src="../../assets/timothy.jpg" alt="" class="h-full w-full rounded-full">
                    </div>
                    <p class="text-center text-lg font-word">It was easy to use when we had test and gave no itch. The interesting thing was it submits your test when you try to access another page or tab outside your quiz tab</p>
               </div>
               <div class="w-3/12">
                    <div class="h-48 w-48 rounded-full overflow-hidden mx-auto">
                         <img src="../../assets/pheobe.jpg" alt="" class="h-full w-full rounded-full">
                    </div>
                    <p class="text-center text-lg font-word">The web form is intuitive and is devoid of distractions as only relevant details concerning are shown to you over the course of the test</p>
               </div>
          </div>
     </section>
     <div class="bg-blue-500 py-24">
          <p class="text-center text-6xl italic text-white font-headline">Start your free trial today to get started</p>
          <div class="flex justify-center">
               <a routerLink="/login" class="no-underline tracking-wide py-3 px-20 text-xl rounded-full bg-blue-100 text-black text-center mx-auto mt-2 hover:transition-all hover:-translate-y-2 font-word">Start now</a>
          </div>
     </div>
     <footer class="bg-gray-900 pt-12 pb-2 px-20 font-word">
          <div class="flex justify-start gap-10">
               <div>
                    <p class="text-white/80 text-lg my-0">Contact</p>
                    <a class="text-white text-lg block no-underline" href="mailto:opeyemi@luminaace.com?subject=Let's work together on my project">Send Email</a>
                    <a class="text-white text-lg block no-underline" href="tel:+2347060681466">Give a call</a>
                    <a class="text-white text-lg block no-underline" href="https://api.whatsapp.com/send?phone=2349073245874" target="_blank">Send Whatsapp message</a>
               </div>
               <div>
                    <p class="text-white/80 text-lg my-0">Link</p>
                    <a routerLink="/login" class="text-white text-lg block no-underline">Login</a>
                    <a routerLink="/login" class="text-white text-lg block no-underline">Sign up</a>
               </div>
          </div>
          <p class="text-center text-sm text-white ">Designed and developed by Light <a href="tel:2349073245874" class="text-white no-underline">09073245874</a></p>
     </footer>
</div>
