<div class="mt-3 md:min-h-screen md:w-1/4 md:mx-auto md:mt-12">
     <h2 class="font-bold text-xl text-center">Create a new topic</h2>
     <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-6 bg-slate-50 border border-gray-100 shadow-md py-7 px-12 ">
          <div class="">
               <label for="title">Title</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.title}}</p>
               <input type="text" formControlName="title" id="title" class="w-full text-md text-black py-2 px-2 focus:shadow-md focus:border-0 focus:outline-none bg-slate-100">
          </div>
          <div class="mt-3 md:mt-5">
               <label for="department">Department</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.department}}</p>
               <select id="department" formControlName="department" class="w-full text-md text-black py-2 px-2 focus:shadow-md focus:border-0 focus:outline-none bg-slate-100">
                    <option value=""></option>
                    <option value="Pharmacology">Pharmacognosy</option>
                    <option value="Pharmaceutical Microbiology and biotechnology">Pharmaceutical Microbiology and biotechnology</option>
                    <option value="Clinical Pharmacy and Pharmacy Practice">Clinical Pharmacy and Pharmacy Practice</option>
                    <option value="Pharmacology">Pharmacology</option>
                    <option value="Medicinal Chemistry">Medicinal Chemistry</option>
                    <option value="Pharmaceutics">Pharmaceutics</option>
                    <option value="Statistics">Statistics</option>
                    <option value="Biochemistry">Biochemistry</option>
                    <option value="Microbiology">Microbiology</option>
                    <option value="Plant biology">Plant biology</option>
                    <option value="Zoology">Zoology</option>
               </select>
          </div>

          <div class="mt-3 md:mt-5">
               <label for="faculty">Facullty</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.faculty}}</p>
               <select id="faculty" formControlName="faculty" class="w-full text-md text-black py-2 px-2 focus:shadow-md focus:border-0 focus:outline-none bg-slate-100">
                    <option value=""></option>
                    <option value="Pharmaceutical Sciences">Pharmaceutical sciences</option>
                    <option value="Physical Sciences">Physical sciences</option>
               </select>
          </div>

          <div class="mt-6 md:mt-12">
               <button type="submit" [disabled]="!form.valid" class="px-4 py-2 text-center w-full shadow-md cursor-pointer hover:shadow-2xl ">Add topic</button>
          </div>
     </form>
</div>
