<div class="flex justify-center items-center relative">
     <div *ngIf="complaints.length < 1" class="mt-40">
          <div>
               <h2 class="text-center">Good news!</h2>
               <p class="text-center">You do not have any Complaints yet</p>
          </div>
     </div>
     <div *ngIf="complaints.length > 0" class="mt-24">

          <table class="w-full text-sm text-center text-gray-500 border-collapse">
             <thead class=" text-gray-700 uppercase">
                 <tr>
                     <th scope="col" class="px-2 py-3">
                         Course Id
                     </th>
                     <th scope="col" class="px-2 py-3">
                         Matric
                     </th>
                     <th scope="col" class="px-2 py-3">
                         Email
                     </th>
                     <th scope="col" class="px-2 py-3">
                         Complaints
                     </th>
                     <th scope="col" class="px-2 py-3">
                         Date
                     </th>
                     <th scope="col" class="px-2 py-3">

                     </th>
                     <th scope="col" class="px-2 py-3">

                     </th>
                 </tr>
             </thead>
             <tbody>
                 <tr class="odd:bg-gray-100 even:bg-white/80" *ngFor="let complaint of complaints">
                     <td class="px-3 py-3 text-lg">{{complaint.display_token}}</td>
                     <td class="px-3 py-3">{{ complaint.matric }}</td>
                     <td class="px-3 py-3">{{ complaint.email }}</td>
                     <td class="px-3 py-3">{{ complaint.complaints }}</td>
                     <td class="px-3 py-3">{{ complaint.created_at }}</td>
                     <td class="px-3 py-3"><p class="my-0 cursor-pointer no-underline text-lg text-red-500" (click)="completed(complaint)">Mark as completed</p></td>
                     <td class="px-3 py-3" title="Download Result"><a href="mailto:{{complaint.email}}"  class="my-0 cursor-pointer no-underline text-lg text-blue-500" >Reply</a></td>
                 </tr>
             </tbody>
         </table>
     </div>
</div>
