<div class="bg-gray-50 py-4 px-2 flex justify-around items-center font-word">
     <div class="w-3/12 h-32 shadow-lg rounded-lg bg-white">
          <h3 class="my-0 text-blue-900 mt-1 ml-2 tracking-wider text-md leading-9 font-headline">Welcome {{ user.name }}!</h3>
          <p class="my-0 text-left text-sm ml-2 text-black">Welcome to the club of the elite tutors. Track the progress and comprehension of your students by testing them based on new parts taught about.</p>
     </div>
     <div class="w-3/12 h-32 shadow-lg rounded-lg py-2 px-2 bg-white">
          <p class="my-0 text-left text-md ml-2 text-black mt-3">More question types, features, analytics and insight tools are coming up soon. Anticipate !! And don't forget to invite someone</p>
     </div>
     <div class=" w-3/12 h-32 flex justify-end items-center shadow-lg rounded-lg px-2 bg-white">
               <div class="mr-4 cursor-pointer" >
                    <h3 class="my-0 cursor-pointer font-headline text-blue-900">{{user.name}}</h3>
                    <p class="my-1 text-center text-md cursor-pointer" >{{ user.institution}}</p>
               </div>
               <div>
                    <img src="https://i.pravatar.cc/150?img=2" alt="user avatar" class="w-20 h-20 rounded-full cursor-pointer">
               </div>
     </div>
</div>
