<div class="bg-gray-50 py-4 px-2 flex justify-around items-center ">
     <div class="w-3/12 h-32 shadow-lg rounded-lg bg-white">
          <h3 class="my-0 text-black mt-3 ml-2 tracking-wider leading-9">Welcome {{ user.name }}!</h3>
          <p class="my-0 text-left text-lg ml-2 text-black">Your dashboard is looking good as always, Let's keep the ball rolling as expected</p>
     </div>
     <div class="w-3/12 h-32 shadow-lg rounded-lg py-2 px-2 bg-white">
          <p class="my-0 text-left text-lg ml-2 text-black mt-3">This update is gotten from the database of new updates coming up</p>
     </div>
     <div class=" w-3/12 h-32 flex justify-end items-center shadow-lg rounded-lg px-2 bg-white">
               <div class="mr-4 cursor-pointer" >
                    <h3 class="my-0 cursor-pointer">{{user.name}}</h3>
                    <p class="my-0 text-center text-lg cursor-pointer" >{{ user.institution}}</p>
               </div>
               <div>
                    <img src="https://i.pravatar.cc/150?img=5" alt="user avatar" class="w-20 h-20 rounded-full cursor-pointer">
               </div>
     </div>
</div>
