<ngx-loading-bar></ngx-loading-bar>
<app-loader [display]="showLoader"></app-loader>
<app-success [display]="showSuccess" [text]="successMessage"></app-success>
<div class="tracking-wider md:flex md:justify-start mt-12 md:mt-0">
     <div class="grid gap-6 justify-center px-2 md:bg-white md:gap-2 md:items-center md:h-screen md:block md:w-3/6">
          <h2 class="font-bold text-center mt-10 text-md md:text md:mt-64 md:text-xl">Reset account password</h2>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full md:w-1/3 mt-12 mx-auto">
               <p class="text-red-600 mt-1 text-sm text-sm text-red-400">{{message}}</p>
               <div>
                    <label for="password" class="block text-sm mb-2 font-bold md:text-sm">Create new password</label>
                    <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.password}}</p>
                    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)"
                        class="text-red-600 mt-1 text-sm">

                      <p *ngIf="password!.errors?.['required']">
                        Kindly input your new password.
                      </p>
                      <p *ngIf="password!.errors?.['minLength']">
                        Your password cannot be less than 6
                      </p>
                    </div>
                    <input type="password" formControlName="password" id="password" name="password" class="w-full border rounded-lg border-gray-500 mt-1 rounded-sm text-md text-black py-1 px-2 focus:shadow-xl focus:border-0 focus:outline-none">
               </div>
               <div class="mt-6">
                    <label for="password" class="block text-sm mb-2 font-bold md:text-sm">Create new password</label>
                    <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.password}}</p>
                    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)"
                        class="text-red-600 mt-1 text-sm">

                      <p *ngIf="password!.errors?.['required']">
                        Kindly input your new password.
                      </p>
                      <p *ngIf="password!.errors?.['minLength']">
                        Your password cannot be less than 6
                      </p>
                    </div>
                    <input type="password" formControlName="password" id="password" name="password" class="w-full border rounded-lg border-gray-500 mt-1 rounded-sm text-md text-black py-1 px-2 focus:shadow-xl focus:border-0 focus:outline-none">
               </div>
               <div class="mt-8 ">
                    <button type="submit" [disabled]="!form.valid" class="px-4 py-2 text-center rounded-lg disabled:bg-gray-300 bg-blue-500 w-full shadow-md hover:-translate-x-1 hover:shadow-lg">Reset password</button>
               </div>
          </form>
     </div>

</div>
