.register{
     background-image: url('../../assets/smile.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-color: rgba(0, 0, 0, 0.1);
     background-blend-mode: multiply;
}
.login{
     background-image: url('../../assets/register.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-color: rgba(0, 0, 0, 0.1);
     background-blend-mode: multiply;
}
