<ngx-loading-bar></ngx-loading-bar>
     <div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
               <p class="text-red-600 mt-1 text-sm text-sm text-red-400">{{message}}</p>
               <div class="">
                    <label for="">Email</label>
                    <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.email}}</p>
                    <input type="email" formControlName="email">
               </div>
               <div>
                    <label for="">Password</label>
                    <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.password}}</p>
                    <input type="password" formControlName="password">
               </div>

               <div>
                    <button type="submit" [disabled]="!form.valid" class="px-4 pt-2 text-center disabled:bg-gray-300 bg-blue-300">Login</button>
               </div>
          </form>
     </div>
