<section class="flex justify-around px-10 items-center bg-blue-200 rounded-[30px] h-[200px] w-full mt-[-50px]">
     <div>
          <h2 class="font-bold text-3xl heading-9"> Hi, {{user.nickname}}</h2>
          <h4 class="font-bold text-md">Continue to create magic and magic</h4>
     </div>
      <img src="./../../assets/images/admin/businessman-explaining-the-strategy.svg" alt="" class="mt-[-40px] w-3/6 h-48">
</section>
<p class="text-black text-lg mt-10" *ngIf="roles.admin">Current Month statistics </p>
<div *ngIf="roles.admin" class="overflow-x-scroll flex justify-start gap-3 mt-2 md:overflow-x-hidden">

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #191923">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{monthlyStat.users}}</h1>
               <p class="text-md font-bold">Registered Users</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-56 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #BF1363">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M3 2.25a.75.75 0 01.75.75v.54l1.838-.46a9.75 9.75 0 016.725.738l.108.054a8.25 8.25 0 005.58.652l3.109-.732a.75.75 0 01.917.81 47.784 47.784 0 00.005 10.337.75.75 0 01-.574.812l-3.114.733a9.75 9.75 0 01-6.594-.77l-.108-.054a8.25 8.25 0 00-5.69-.625l-2.202.55V21a.75.75 0 01-1.5 0V3A.75.75 0 013 2.25z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{monthlyStat.active_users}}</h1>
               <p class="text-md font-bold">Active users</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
          <svg fill="currentColor" class="w-10 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{monthlyStat.topics}}</h1>
               <p class="text-md font-bold">Topics created</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #0E79B2">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{monthlyStat.questions}}</h1>
               <p class="text-md font-bold">Questions</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M15.22 6.268a.75.75 0 01.968-.432l5.942 2.28a.75.75 0 01.431.97l-2.28 5.941a.75.75 0 11-1.4-.537l1.63-4.251-1.086.483a11.2 11.2 0 00-5.45 5.174.75.75 0 01-1.199.19L9 12.31l-6.22 6.22a.75.75 0 11-1.06-1.06l6.75-6.75a.75.75 0 011.06 0l3.606 3.605a12.694 12.694 0 015.68-4.973l1.086-.484-4.251-1.631a.75.75 0 01-.432-.97z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{monthlyStat.assessments}}</h1>
               <p class="text-md font-bold">Assesments completed</p>
          </div>
     </div>
</div>

<p class="text-black text-lg mt-10" *ngIf="roles.admin">All time statistics </p>
<div *ngIf="roles.admin" class="overflow-x-scroll flex justify-start gap-3 mt-2 md:overflow-x-hidden">
     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
          <svg fill="currentColor" class="w-10 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{allTimeStat.topics}}</h1>
               <p class="text-md font-bold">Topics created</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #0E79B2">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{allTimeStat.questions}}</h1>
               <p class="text-md font-bold">Questions crafted</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #191923">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{allTimeStat.users}}</h1>
               <p class="text-md font-bold">Registered Users</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-56 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #BF1363">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M3 2.25a.75.75 0 01.75.75v.54l1.838-.46a9.75 9.75 0 016.725.738l.108.054a8.25 8.25 0 005.58.652l3.109-.732a.75.75 0 01.917.81 47.784 47.784 0 00.005 10.337.75.75 0 01-.574.812l-3.114.733a9.75 9.75 0 01-6.594-.77l-.108-.054a8.25 8.25 0 00-5.69-.625l-2.202.55V21a.75.75 0 01-1.5 0V3A.75.75 0 013 2.25z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{allTimeStat.active_users}}</h1>
               <p class="text-md font-bold">Active users</p>
          </div>
     </div>

     <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
          <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path clip-rule="evenodd" fill-rule="evenodd" d="M15.22 6.268a.75.75 0 01.968-.432l5.942 2.28a.75.75 0 01.431.97l-2.28 5.941a.75.75 0 11-1.4-.537l1.63-4.251-1.086.483a11.2 11.2 0 00-5.45 5.174.75.75 0 01-1.199.19L9 12.31l-6.22 6.22a.75.75 0 11-1.06-1.06l6.75-6.75a.75.75 0 011.06 0l3.606 3.605a12.694 12.694 0 015.68-4.973l1.086-.484-4.251-1.631a.75.75 0 01-.432-.97z"></path></svg>
          <div class="md:mt-[-15px]">
               <h1 class="font-bold text-4xl mt-2 ">{{allTimeStat.assessments}}</h1>
               <p class="text-md font-bold">Assesments completed</p>
          </div>
     </div>
</div>

<div *ngIf="roles.author" class="overflow-x-scroll my-10 md:overflow-x-hidden">
     <p class="text-black text-lg mt-10" *ngIf="roles.author">Total Quantitative Output stats </p>
     <div  class="flex justify-start gap-3">
          <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
               <svg fill="currentColor" class="w-10 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
               <div class="md:mt-[-15px]">
                    <h1 class="font-bold text-4xl mt-2 ">{{ editorStats.total_topic_count }}</h1>
                    <p class="text-md font-bold">Topics created in total</p>
               </div>
          </div>

          <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #0E79B2">
               <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
               <div class="md:mt-[-15px]">
                    <h1 class="font-bold text-4xl mt-2 ">{{ editorStats.total_questions_count }}</h1>
                    <p class="text-md font-bold">Questions created in total</p>
               </div>
          </div>
     </div>

     <p class="text-black text-lg mt-10" *ngIf="roles.editor || roles.author">Quantitative Output stats for {{ current_month }} </p>
     <div  class="flex justify-start gap-3">
          <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-8 md:justify-start md:h-24" style="background: #F39237">
               <svg fill="currentColor" class="w-10 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
               <div class="md:mt-[-15px]">
                    <h1 class="font-bold text-4xl mt-2 ">{{ editorStats.monthly_topic_count }}</h1>
                    <p class="text-md font-bold">Topics created in {{ current_month }}</p>
               </div>
          </div>

          <div class="h-40 w-1/3 shrink-0 grow rounded-lg py-2 px-2 text-white md:w-64 md:flex md:items-center md:gap-10 md:justify-start md:h-24" style="background: #0E79B2">
               <svg fill="currentColor" class="w-12 h-16 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
               <div class="md:mt-[-15px]">
                    <h1 class="font-bold text-4xl mt-2 ">{{ editorStats.monthly_questions_count }}</h1>
                    <p class="text-md font-bold">Questions created in {{ current_month }}</p>
               </div>
          </div>
     </div>
</div>

<div class="mt-10 w-full relative" *ngIf="roles.author || roles.editor">
     <div class="sticky top-0 my-10 flex justify-between items-center">
          <h2 class="text-lg text-gray-400 mb-3">Available topics</h2>
          <div>
               <button *ngIf="topicsNavigation.prev != null" (click)="paginateTopics(topicsNavigation.prev)" class="px-4 py-2 border-2 border-gray-200 shadow-sm hover:shadow-md hover:border-gray-300 bg-gray-100"><span>&#171;</span>Prev page</button>
               <button *ngIf="topicsNavigation.next != null" (click)="paginateTopics(topicsNavigation.next)" class="px-4 py-2 border-2 border-gray-200 shadow-sm hover:shadow-md hover:border-gray-300 bg-gray-100">Next page <span>&#187;</span></button>
          </div>
     </div>
     <p *ngIf="topics.length < 1; else elseBlock" class="text-center font-medium text-xl ">There are no topics Available Yet</p>
     <ng-template #elseBlock >
          <div *ngFor="let topic of topics; let i = index; trackBy: trackByFn" class="md:bg-blue-200 md:rounded-[20px] md:p-4 md:h-40 md:overflow-y-hidden md:flex md:justify-start md:gap-4 mt-6" >
               <img src="https://picsum.photos/300?random={{topic.id}}" alt="random image for the topic" class="md:h-32 md:w-40 md:rounded-lg">
               <div class="md:relative md:w-full">
                    <div class="md:grid md:justify-between">
                         <div class="">
                              <h3 class="font-bold text-lg " style="color: #0E79B2;">{{topic.title}}</h3>
                              <p class="text-md text-gray-600 heading-9">From the department of {{topic.department}}, faculty of {{topic.faculty}}</p>
                         </div>
                         <h5 class="font-bold text-lg md:mt-12">{{topic.question}} questions</h5>
                    </div>
                    <div class="md:absolute md:top-0 md:right-10">
                         <svg fill="none" routerLink="/admin/dashboard/topic/{{topic.id}}" class="md:w-5 md:h-5 inline-block mr-5 cursor-pointer" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path></svg>

                         <svg fill="none" *ngIf="roles.editor" (click)="deleteTopic(topic.id, i)" class="md:w-6 md:h-6 inline-block cursor-pointer" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M7.848 8.25l1.536.887M7.848 8.25a3 3 0 11-5.196-3 3 3 0 015.196 3zm1.536.887a2.165 2.165 0 011.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 11-5.196 3 3 3 0 015.196-3zm1.536-.887a2.165 2.165 0 001.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863l2.077-1.199m0-3.328a4.323 4.323 0 012.068-1.379l5.325-1.628a4.5 4.5 0 012.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.331 4.331 0 0010.607 12m3.736 0l7.794 4.5-.802.215a4.5 4.5 0 01-2.48-.043l-5.326-1.629a4.324 4.324 0 01-2.068-1.379M14.343 12l-2.882 1.664"></path></svg>
                    </div>
               </div>
          </div>
     </ng-template>

     <div class="sticky top-0 my-12 flex justify-between items-center">
          <h2 class="text-lg text-gray-400 mb-3">My topics</h2>
          <div>
               <button *ngIf="myTopicsNavigation.prev != null" (click)="paginateTopics(myTopicsNavigation.prev)" class="px-4 py-2 border-2 border-gray-200 shadow-sm hover:shadow-md hover:border-gray-300 bg-gray-100"><span>&#171;</span>Prev page</button>
               <button *ngIf="myTopicsNavigation.next != null" (click)="paginateTopics(myTopicsNavigation.next)" class="px-4 py-2 border-2 border-gray-200 shadow-sm hover:shadow-md hover:border-gray-300 bg-gray-100">Next page <span>&#187;</span></button>
          </div>
     </div>
     <p *ngIf="myTopics.length < 1; else showMyTopics" class="text-center font-medium text-xl ">You have not worked on any topics yet</p>
     <ng-template #showMyTopics >
          <div *ngFor="let topic of myTopics; let i = index; trackBy: trackByFn" class="md:bg-blue-200 md:rounded-[20px] md:p-4 md:h-40 md:overflow-y-hidden md:flex md:justify-start md:gap-4 mt-6" >
               <img src="https://picsum.photos/300?random={{topic.id}}" alt="random image for the topic" class="md:h-32 md:w-40 md:rounded-lg">
               <div class="md:relative md:w-full">
                    <div class="md:grid md:justify-between">
                         <div class="">
                              <h3 class="font-bold text-lg " style="color: #0E79B2;">{{topic.title}}</h3>
                              <p class="text-md text-gray-600 heading-9">From the department of {{topic.department}}, faculty of {{topic.faculty}}</p>
                         </div>
                         <h5 class="font-bold text-lg md:mt-12">{{topic.question}} questions</h5>
                    </div>
                    <div class="md:absolute md:top-0 md:right-10">
                         <svg fill="none" routerLink="/admin/dashboard/topic/{{topic.id}}" class="md:w-5 md:h-5 inline-block mr-5 cursor-pointer" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path></svg>

                         <svg fill="none" (click)="deleteTopic(topic.id, i)" class="md:w-6 md:h-6 inline-block cursor-pointer" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M7.848 8.25l1.536.887M7.848 8.25a3 3 0 11-5.196-3 3 3 0 015.196 3zm1.536.887a2.165 2.165 0 011.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 11-5.196 3 3 3 0 015.196-3zm1.536-.887a2.165 2.165 0 001.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863l2.077-1.199m0-3.328a4.323 4.323 0 012.068-1.379l5.325-1.628a4.5 4.5 0 012.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.331 4.331 0 0010.607 12m3.736 0l7.794 4.5-.802.215a4.5 4.5 0 01-2.48-.043l-5.326-1.629a4.324 4.324 0 01-2.068-1.379M14.343 12l-2.882 1.664"></path></svg>
                    </div>
               </div>
          </div>
     </ng-template>
</div>
