<div class="rounded-[12px] py-10 px-5 home-cta">
     <h2 class="text-2xl" style="color: #FBAE3C">Start a quiz !</h2>
     <button routerLink="/user/dashboard/take-assessment" class="text-center w-full rounded-full py-2 px-6 bg-gray-300 mt-6 font-bold">Take assessment</button>
</div>

<section class="mt-8 ">
     <h2 class="text-md font-bold">Your last Assesments Results</h2>
     <div class="w-full overflow-x-scroll mt-4 z-10">
          <div class="bg-gray-300 rounded-lg py-4 px-2 grid justify-center" *ngIf="results.length == 0">
               <h2 class="text-center font-bold text-lg my-2 ">You have no result yet</h2>
               <a routerLink="/user/dashboard/take-assessment" class="text-sm py-2 px-3 text-center " style="color: #FBAE3C; background: #001220">Click here to take an assessment</a>
          </div>
          <div *ngIf="results.length > 0" class="z-10">
              <div class="flex justify-start gap-6">
                   <div class="bg-white border border-gray-400 shadow-inner shadow-outline shadow-xl w-4/5 shrink-0 h-auto rounded-[12px] py-3 px-3 relative text-left" *ngFor="let result of results; let i = index; trackBy: trackByFn">
                        <p class="uppercase"> title {{result.topic.title}}</p>
                        <p class="uppercase">Score: {{result.score}}</p>
                        <p class="uppercase" > Grade: {{result.grade}}</p>
                        <p class="uppercase mb-9">Date: {{result.date}}</p>
                        <p class="uppercase text-sm absolute bottom-0 py-2 px-3 rounded-[12px] mt-2 text-gray-200 w-full left-0 " style="background: #001220; color: white">Inscription: {{result.opinion}}</p>
                   </div>
              </div>
          </div>
     </div>
</section>

<div class="mt-5">
     <h2 class="text-md font-bold mb-5">Your usage statistics</h2>
     <div class="overflow-x-scroll flex justify-start gap-3 ">
          <div class=" h-[140px] w-2/4 rounded-lg py-2 px-2 text-white border border-gray-400 shadow-inner shadow-outline">
               <div class="font-bold text-4xl  mt-2 h-20 w-20 rounded-full flex justify-center items-center mx-auto" style="background: #FBAE3C; color: #001220">
                    <h1 class="text-center">{{countedResult}}</h1>
               </div>
               <p class="text-md mt-2 overflow-hidden text-center font-bold">Results</p>
          </div>

          <div class=" h-[140px] w-2/4 rounded-lg py-2 px-2 text-white border border-gray-400 shadow-inner shadow-outline">
               <div class="font-bold text-4xl  mt-2 h-20 w-20 rounded-full flex justify-center items-center mx-auto" style="background: #FBAE3C; color: #001220">
                    <h1 class="text-center">{{topics.length}}</h1>
               </div>
               <p class="text-md mt-2 overflow-hidden text-center font-bold">Topics</p>
          </div>
     </div>

</div>

<section class="mt-10">
     <h2 class="text-md font-bold mb-4">Latest topics</h2>
     <div *ngIf="topTopics.length == 0">
          <h2 class="text-xl font-bold text-center py-3 ">Loading available topics...</h2>
     </div>
     <div *ngIf="topTopics.length > 0">
          <div *ngFor="let topic of topTopics; let i = index; trackBy: trackByFn" class="w-full border border-gray-400 shadow-inner shadow-outline shadow-xl text-left rounded-xl py-3 px-3 mb-3">
               <p class="font-bold">{{topic.title || 'NA'}}</p>
               <p class="">Department of {{topic.department}}</p>
               <!-- <p class="text-center" >{{topic.faculty}}</p> -->
          </div>
     </div>

</section>
