<div class="font-word relative">
     <ngx-loading-bar></ngx-loading-bar>
     <app-dashboard-header></app-dashboard-header>
     <div class="w-6/12 h-screen overflow-y-scroll border-2 border-gray-900 bg-sky-50 absolute right-0 top-0 shadow-md z-10 font-word" *ngIf="display.edit" >
          <div class="sticky mt-8 mx-3">
               <button class="py-2 px-4 shadow-lg text-xl border-0 rounded-full" (click)="display.edit = !display.edit">X</button>
          </div>
          <div class="mx-5 my-2 ">
               <h2 class="font-headline">View Course</h2>
               <p class="text-gray-900 text-lg leading-10 tracking-wide my-4">{{display.question}}</p>
          </div>
     </div>
     <div class="relative overflow-x-auto  mt-10 mx-10 shadow-lg pt-5 pb-10" >
          <div class="flex justify-end my-6 mr-12">
               <button class="bg-orange-500 px-3 py-2 border-0 text-white text-lg shadow-md hover:shadow-xl" (click)="display.showForm = !display.showForm">Add course</button>
          </div>
         <table class="w-full text-sm text-center text-gray-500 border-collapse" *ngIf="courses.length > 0">
             <thead class=" text-gray-700 uppercase font-headline">
                 <tr>
                     <th scope="col" class="px-2 py-3" title="Name of the Course as allocated by your institution">
                         Course
                     </th>
                     <th scope="col" class="px-2 py-3" title="The name that should be provided to the student as course name when attempting the course">
                         Access name
                     </th>
                     <th scope="col" class="px-2 py-3" title="Total number of questions to answer">
                         Total Questions
                     </th>
                     <th scope="col" class="px-2 py-3" title="Total number of questions to answer">
                         Total Marks
                     </th>
                     <th scope="col" class="px-2 py-3"></th>
                     <th scope="col" class="px-2 py-3"></th>
                     <th scope="col" class="px-2 py-3"></th>
                 </tr>
             </thead>
             <tbody>
                 <tr class="odd:bg-gray-100 even:bg-white/80" *ngFor="let course of courses; index as i; trackBy: trackByFn">
                     <td class="px-3 py-3 text-md">{{course.course}}</td>
                     <td class="px-3 py-3">{{course.display_token}}</td>
                     <!-- <td class="px-3 py-3"></td> -->
                     <td class="px-3 py-3">{{ answers[i].length || 0}}</td>
                     <td class="px-3 py-3">{{ marks[i] || 0 }}</td>
                     <td class="px-3 py-3" title="Edit course detail"><p class="my-0 cursor-pointer no-underline text-md text-blue-500" (click)="viewQuestion(courses.indexOf(course))">View</p></td>
                     <!-- <td class="px-3 py-3" title="Download Result"><p  class="my-0 cursor-pointer no-underline text-lg text-blue-500" >Edit</p></td> -->
                     <td class="px-3 py-3" title="Add question"><p class="my-0 cursor-pointer no-underline text-md text-blue-500 font-bold" (click)="addQuestion(courses.indexOf(course), course.display_token)">Add</p></td>
                 </tr>
             </tbody>
         </table>
         <h3 *ngIf="courses.length == 0" class="text-center my-4 text-gray-700 tracking-wider leading-9 text-xl font-headline">You do not have any course yet, Click the course button on your right to create a course</h3>
     </div>
     <div class="mx-10 mt-10 flex justify-center">
          <app-couseform *ngIf="display.showForm" class="w-4/12 shadow-md px-4 py-2" (addedCourseEvent)="courseAdded($event)"></app-couseform>
     </div>
     <div tabindex="-1" aria-hidden="false" class="block overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full h-modal md:h-full flex justify-center items-center backdrop-blur-sm bg-black/30" *ngIf="display.questionForm">
         <div class="relative p-4 w-full max-w-3xl h-full md:h-auto">
             <!-- Modal content -->
             <div class="relative bg-white rounded-lg shadow w-full">
                 <!-- Modal header -->
                 <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                     <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                         Add Fill-in-the-blanks question
                     </h3>
                     <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal()">
                         <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                         <span class="sr-only">Close modal</span>
                     </button>
                 </div>
                 <!-- Modal body -->
                 <div class="p-6  mt-10 border-2 border-black">
                      <div class="overflow-x-auto relative shadow-md sm:rounded-lg w-full flex justify-start gap-3 items-start">
                           <form class="w-6/12 px-4 py-4" >
                                <label for="question" class="block text-lg">Enter question</label>
                                <textarea name="question" id="question" class="w-3/4 h-56 py-3 px-3 bg-gray-50 rounded-lg border border-gray-500 focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="question"></textarea>
                                <div class="" *ngIf="createNewQuestion">
                                     <label for="answer" class="block text-md mt-2">Enter answer</label>
                                     <p class="my-0 py-1 text-sm text-blue-500">Separate multiple words using a comma</p>
                                     <input type="text" [(ngModel)]="answer.word" class="py-2 px-3 text-lg w-8/12" id="answer" name="answer">
                                     <label for="allotedMark" class="block text-md mt-2">Allocate mark for the question</label>
                                     <select name="allotedMark" id="allotedMark" [(ngModel)]="answer.mark" class="py-2 px-2 text-center border-0 bg-white border-2 border-blue-200 ml-3 block">
                                          <option value="" disabled>Assign mark</option>
                                          <option  *ngFor="let mark of available_marks; let i=index; trackBy: trackByFn" [value]="mark">{{mark}}</option>
                                     </select>
                                     <!-- <label for="synonyms" class="block text-lg mt-2">Use synonyms</label>
                                     <input type="radio" class="px-2 py-2" [(ngModel)]="answer.synonyms" name="synonyms" id="synonyms">-->
                                     <label for="default-toggle-size" class="inline-flex relative items-center mb-5 cursor-pointer mt-3">
                                          <input type="checkbox"  id="default-toggle-size" class="sr-only peer" name="synonyms" [(ngModel)]="answer.synonyms">
                                          <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                          <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300">Use Synonyms</span>
                                        </label>

                                </div>
                                <div class="button flex justify-start items-center gap-8 my-8">
                                     <button class="px-4 py-3 border-0 bg-blue-500 text-white" (click)="createGerman()">Insert Question</button>
                                     <button class="px-4 py-3 border-0 bg-blue-500 text-white block mt-6" (click)="addScheme()" *ngIf="createNewQuestion">Add Question</button>
                                </div>
                           </form>
                           <div class="py-4 px-2 relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
                                <div>
                                        <h3>Total score {{totalMarks}}</h3>
                                        <h3>Total number of questions {{finalCopy.length}}  </h3>
                                </div>
                               <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                   <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                       <tr>
                                           <th scope="col" class="px-6 py-3">
                                               Answer(s)
                                           </th>
                                           <th scope="col" class="px-6 py-3">
                                               Mark(s)
                                           </th>
                                           <th scope="col" class="px-6 py-3">
                                               <span class="sr-only">Edit</span>
                                           </th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let item of finalCopy; index as i; trackBy: trackByFn">
                                           <td scope="row" class="px-6 py-4 font-word text-gray-900 dark:text-white whitespace-nowrap " >
                                               <p class="py-0 my-0 mx-auto text-center" *ngIf="!item.edited">{{item.word}}</p>
                                               <input type="text" class="py-2 px-2 " [(ngModel)]="correction.word" *ngIf="item.edited">
                                           </td>
                                           <td class="px-6 py-4">
                                                <p class="py-0 my-0 mx-auto text-center" *ngIf="!item.edited">{{item.mark}}</p>
                                                <input type="text" class="py-2 px-2" [(ngModel)]="correction.mark" *ngIf="item.edited">
                                           </td>
                                           <td class="px-6 py-4 text-right">
                                               <p class="font-word text-blue-600 dark:text-blue-500 hover:underline cursor-pointer" *ngIf="!item.edited" (click)="editAnswer(i)">Edit</p>
                                               <p class="font-word text-blue-600 dark:text-blue-500 hover:underline cursor-pointer" *ngIf="item.edited" (click)="saveAnswer(i)">Save</p>
                                           </td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                      </div>
                 </div>
                 <!-- Modal footer -->
                 <div class="flex items-start gap-6  py-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button type="button" class="text-gray-700 hover:bg-gray-200 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-10" (click)="closeModal()">Close modal</button>
                    <div class="flex justify-start items-end gap-2">
                         <label for="assesment_id" class="text-md tracking-wide leading-9 block">Continous Assesment</label>
                         <select required id="assesment_id" [(ngModel)]="answer.assesment_id" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-24 text-center ">
                              <option class="text-center" [value]="item" *ngFor="let item of assesment_ids; let i=index; ">{{item}}</option>
                         </select>
                    </div>
                 </div>
             </div>
         </div>
     </div>
</div>
