<div class="font-word">
     <ngx-loading-bar></ngx-loading-bar>
     <app-dashboard-header></app-dashboard-header>
     <div class="w-6/12 h-screen overflow-y-scroll bg-gray-300 absolute right-0 top-0 z-10 shadow-lg" *ngIf="edit">
          <div class="sticky mt-8 mx-3">
               <button class="py-2 px-4 shadow-lg text-xl border-0 rounded-full" (click)="closeSideBar()">X</button>
          </div>

          <!-- Interface for viewing the individual questions -->
          <div *ngIf="view.view">
               <div *ngIf="view.questions.length == 0">
                    <h3 class="text-lg text-center text-gray-700 font-headline">You do not have any questions under this course yet.</h3>
               </div>
               <div *ngIf="view.questions.length > 0">
                    <ol>
                         <li *ngFor="let question of view.questions" class="mx-3 text-lg text-black">
                              <p class="text-sm font-bold">Question: {{ question.question}}</p>
                              <details class="text-sm">
                                   <summary>Answers</summary>
                                   <p>Option 1: {{question.option1}}</p>
                                   <p>Option 2: {{question.option2}}</p>
                                   <p>Option 3: {{question.option3}}</p>
                                   <p>Option 4: {{question.option4}}</p>
                                   <p>Answer: {{question.answer}}</p>
                                   <!-- <p>Continous Assesment {{question.assesment_id}}</p> -->
                              </details>
                              <div class="flex justify-start gap-4 font-bold text-sm tracking-widest">
                                   <p class="text-blue-700 tracking-wide cursor-pointer" (click)="editQuestion(question)">Edit</p>
                                   <p class="text-red-700 cursor-pointer" (click)="deleteQuestion(question, view.questions.indexOf(question))">Delete</p>
                              </div>
                         </li>
                    </ol>
               </div>
          </div>
          <div *ngIf="view.add">
               <form [formGroup]="addQuestionForm"  class="px-3 py-3">
                    <div>
                         <input type="text" required formControlName="course" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-2/4" readonly>
                         <label for="assesment_id" class="text-md tracking-wide leading-9 block">Continous Assesment</label>
                         <select required id="assesment_id" formControlName="assesment_id" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-24">
                              <option [value]="item" *ngFor="let item of assesment_ids; let i=index; ">{{item}}</option>
                         </select>
                         <!-- <input type="text" required id="assesment_id" formControlName="assesment_id" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-2/4 block"> -->
                   </div>
                   <div>
                       <label for="question" class="text-md tracking-wide leading-9 block">Question</label>
                       <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.question }}</p>
                       <textarea name="" rows="8" cols="80" required formControlName="question" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-10/12 h-40"></textarea>
                       <!-- <input type="text" required formControlName="question" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4"> -->
                  </div>
                  <div class="flex flex-wrap mt-3 justify-start gap-2 items-center">
                        <div class="w-80">
                          <label for="option1" class="text-md tracking-wide leading-9 block">Option 1 </label>
                          <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.option1 }}</p>
                          <input type="text" required formControlName="option1" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4">
                         </div>
                         <div class="w-80">
                              <label for="option2" class="text-md tracking-wide leading-9 block">Option 2 </label>
                              <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.option2 }}</p>
                              <input type="text" required formControlName="option2" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4">
                        </div>
                        <div class="w-80">
                            <label for="option3" class="text-md tracking-wide leading-9 block">Option 3 </label>
                            <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.option3 }}</p>
                            <input type="text" required formControlName="option3" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4">
                        </div>
                        <div class="w-80">
                            <label for="option4" class="text-md tracking-wide leading-9 block">Option 4 </label>
                            <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.option4 }}</p>
                            <input type="text" required formControlName="option4" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4">
                        </div>

                        <div class="w-80">
                            <label for="answer" class="text-md tracking-wide leading-9 block">Answer </label>
                            <p class="text-red-600 text-sm text-left my-3" *ngIf="errors != null">{{ errors.answer }}</p>
                            <input type="text" required formControlName="answer" class="text-md rounded-lg px-3 py-3 bg-white/90 border-white/20 w-3/4">
                        </div>
                  </div>
               <div class="flex justify-center mt-3 ">
                    <button class="py-2 px-3 bg-blue-500 text-white text-lg border-0 shadow-lg rounded-lg" (click)="addQuestion()" *ngIf="!courseDetail.button">Save question</button>
                    <button class="py-2 px-3 bg-blue-500 text-white text-lg border-0 shadow-lg rounded-lg" (click)="saveEditedQuestion()" *ngIf="courseDetail.button">Save Correction</button>
               </div>
          </form>
     </div>
     </div>
     <div class="flex justify-start items-center">
          <div class="grid w-1/4 h-40 py-2 px-2 rounded-lg shadow-md bg-white/80 flex justify-center items-center mt-10 ml-10" *ngFor="let items of overview">
               <h1 class="text-center font-bold text-5xl my-2"> {{ items.number}} </h1>
               <p class="text-center text-lg my-1">{{ items.text}}</p>
          </div>
     </div>
     <div class="relative overflow-x-auto  mt-20 ml-10 mr-10 shadow-lg py-10" >
           <h1 *ngIf="courses.length == 0" class="text-center my-4 text-gray-700 tracking-wider leading-9 text-xl font-headline">You do not have any course yet, Click the course button on your right to create a course</h1>

         <table class="w-full text-sm text-center text-gray-500 border-collapse" *ngIf="courses.length > 0">
             <thead class=" text-gray-700 uppercase font-headline">
                 <tr>
                     <th scope="col" class="px-2 py-3" title="Name of the Course as allocated by your institution">
                         Course
                     </th>
                     <th scope="col" class="px-2 py-3" title="The name that should be provided to the student as course name when attempting the course">
                         Access name
                     </th>
                     <th scope="col" class="px-2 py-3" title="Total number of questions to answer">
                         Questions
                     </th>
                     <th scope="col" class="px-2 py-3"></th>
                     <th scope="col" class="px-2 py-3"></th>
                     <th scope="col" class="px-2 py-3"></th>
                 </tr>
             </thead>
             <tbody>
                 <tr class="odd:bg-gray-100 even:bg-white/80" *ngFor="let course of courses; index as i; trackBy: trackByFn;">
                     <td class="px-3 py-3 text-lg">{{course.course}}</td>
                     <td class="px-3 py-3">{{course.display_token}}</td>
                     <td class="px-3 py-3">{{ course.question_count}}</td>
                     <td class="px-3 py-3" title="Edit course detail"><p class="my-0 cursor-pointer no-underline text-lg text-blue-500" (click)="viewQuestions(course.questions, 'view', course.course, course.display_token)">View</p></td>
                     <td class="px-3 py-3" title="Add question"><p class="my-0 cursor-pointer no-underline text-lg text-blue-500 font-bold" (click)="addQuestionToggle(course.display_token, course.course)">Add</p></td>
                 </tr>
             </tbody>
         </table>

     </div>
</div>
