<div [@openClose]="display ? 'open' : 'close'" class="w-full h-screen fixed top-0 z-30">
     <div class="flex justify-center items-center w-full h-screen bg-black/70 " >
          <div class="w-full mx-3 md:mx-0 md:w-1/5 h-32 border rounded-xl p-4 border-black bg-white">
               <h3 class="text-center font-bold mt-3">{{ text }}</h3>
               <div class="flex justify-around mt-5 ">
                    <button class="px-5 rounded-md  py-1" [class]="no" (click)="negative()">No</button>
                    <button class="px-5 rounded-md py-1" [class]="yes" (click)="positive()">Yes</button>
               </div>
          </div>
     </div>
</div>
