<ngx-loading-bar></ngx-loading-bar>
<div class="md:mx-auto md:w-1/4 md:flex md:justify-start md:items-center md:h-screen ">
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="">
               <label for="faculty" class="font-bold ">Faculty</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.faculty}}</p>
               <div *ngIf="faculty!.invalid && (faculty!.dirty || faculty!.touched)"
                   class="text-red-600 mt-1 text-sm">

                 <p *ngIf="faculty!.errors?.['required']">
                   Kindly choose your faculty.
                 </p>
                 <p *ngIf="faculty!.errors?.['minlength']">
                   Invalid Faculty chosen
                 </p>
               </div>
               <select name="faculty" id="faculty" formControlName="faculty" class="w-full border border-gray-700 text-md text-black py-2 rounded-lg px-2 focus:shadow-xl focus:border-0 focus:outline-none focus:py-2 focus:bg-white">
                    <option value="" disabled></option>
                    <option value="Pharmaceutical sciences">Pharmaceutical sciences</option>
                    <option value="Pharmaceutical sciences">Physical sciences</option>
               </select>
          </div>
          <div class="mt-6">
               <label for="faculty" class="font-bold ">Department</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.department}}</p>
               <div *ngIf="department!.invalid && (department!.dirty || department!.touched)"
                   class="text-red-600 mt-1 text-sm">

                 <p *ngIf="department!.errors?.['required']">
                   Kindly choose your Department.
                 </p>
                 <p *ngIf="department!.errors?.['minlength']">
                   Invalid Department chosen
                 </p>
               </div>
               <select name="department" id="department" formControlName="department" class="w-full border border-gray-700 text-md text-black py-2 rounded-lg px-2 focus:shadow-xl focus:border-0 focus:outline-none focus:py-2 focus:bg-white" (change)="chosenDepartment($event)">
                    <option value="" disabled></option>
                    <option [value]="department" *ngFor="let department of departments;let i = index; trackBy: trackByFn">{{department}}</option>
               </select>
          </div>
          <div class="mt-6">
               <label for="topic_id" class="font-bold ">Choose Topic</label>
               <p class="text-red-600 mt-1 text-sm" *ngIf="error != null">{{error.topic_id}}</p>
               <div *ngIf="topic_id!.invalid && (topic_id!.dirty || topic_id!.touched)"
                   class="text-red-600 mt-1 text-sm">

                 <p *ngIf="topic_id!.errors?.['required']">
                   Kindly choose your desired topic.
                 </p>
                 <p *ngIf="topic_id!.errors?.['minlength']">
                   Invalid Topic chosen
                 </p>
               </div>
               <select name="topic_id" id="topic_id" formControlName="topic_id" class="w-full border border-gray-700 text-md text-black py-2 rounded-lg px-2 focus:shadow-xl focus:border-0 focus:outline-none focus:py-2 focus:bg-white" (change)="chosenTopic($event)">
                    <option value="" disabled></option>
                    <option [value]="topic.id" *ngFor="let topic of titles;let i = index; trackBy: trackByFn">{{topic.title}}</option>
               </select>
          </div>

          <div class="mt-6" *ngIf="totalAvailableQuestions > 0">
               <label for="topic_id" class="text-md ">Total available questions</label>
               <span class=" ml-3 text-black font-bold text-md">{{totalAvailableQuestions}}</span>
          </div>

          <div class="mt-10">
               <button type="submit" class="text-md font-bold px-4 py-3 text-center disabled:bg-gray-300 bg-blue-500 w-full shadow-md hover:-translate-x-1 rounded-lg hover:shadow-lg" [disabled]="!enableButton">Start assesment</button>
          </div>
     </form>
</div>
