<div class="bg-white">
     <header class="sticky top-0 bg-white py-0 my-0 z-20 shadow-md">
          <div class="md:flex md:justify-around md:items-center md:px-10 py-3">
               <h1 class="text-center md:text-left my-0 md:my-2">Takeaquiz</h1>
               <nav>
                    <ul class="flex justify-center md:justify-end gap-4 pl-0">
                         <li class="list-none"><a routerLink="/login" class="no-underline text-lg text-black md:text-white md:bg-blue-500 md:rounded-full py-3 md:px-8 md:hover:transition-all md:hover:-translate-y-1">Sign up</a></li>
                         <li class="list-none"><a routerLink="/prep" class="no-underline text-lg text-black ">Student</a></li>
                    </ul>
               </nav>
          </div>
     </header>
     <div class="bg-blue-500 h-96 py-12 px-12 flex justify-center items-center banner">
          <h1 class="text-orange-800 md:text-orange-500 text-center leading-10 tracking-wider italic font-headline">Take note of the  following instructions</h1>
     </div>
     <div class="bg-white md:flex md:justify-center my-2 font-word">
          <ol class="md:w-2/4 leading-9 text-xl md:px-0">
               <h3 class="">Read the following instructions carefully</h3>
               <li>
                    Do not attempt to leave the tab of the Quiz Once you have started as your quiz would be automatically submitted if you choose to do so.
               </li>
               <li>
                    Ensure you have adequate charge on your device before the commencement of your Quiz.
               </li>
               <li>
                    Ensure you have a stable internet connection before you commence your quiz.
               </li>
               <li>
                    You should not attempt the quiz more than once with a single device.
               </li>
          </ol>
     </div>
</div>
