<div class="bg-gray-50 w-full flex justify-start text-gray-700 relative relative">
     <ngx-loading-bar></ngx-loading-bar>
     <div class="bg-blue-800 bg-scroll w-2/12 shadow-lg h-screen relative ">
          <!-- <nav class="h-full">
               <ul> -->
                    <a routerLink="home" routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4 mt-12">Home</a>
                    <a routerLink="course" routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4">Course</a>
                    <a routerLink="question" routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4">Question</a>
                    <a routerLink="student" routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4">Student</a>
                    <a routerLink="complaint" routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4">Complaints</a>
                    <a class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4" (click)="profile = !profile">Profile</a>
                    <a (click)="logout()"routerLinkActive="bg-gray-50 text-blue-800" class="cursor-pointer leading-10 text-xl text-gray-50 text-left block  no-underline hover:bg-gray-50 hover:text-blue-500 hover:transition-all px-4">Logout</a>
               <!-- </ul>
          </nav> -->
     </div>
     <div class="w-full h-full py-0 px-0 relative">
          <div *ngIf="profile" class="absolute top-0 right-0 w-4/12 min-h-screen bg-blue-800 shadow-lg z-30" [@slideInRightAnimation] [@slideOutRightAnimation]>
               <button class="py-2 px-4 bg-gray-50 shadow-xl text-xl border-0 rounded-full mt-3 mx-3 text-2xl cursor-pointer" (click)="profile = !profile">x</button>
               <div class="mx-auto my-2 mt-16" >
                    <div class="flex justify-center">
                         <img src="https://i.pravatar.cc/150?img=5" alt="user avatar" class="w-32 h-32 rounded-full shadow-lg mb-2" >
                    </div>
                    <h3 class="my-0 text-center text-white">{{user.name}}</h3>
                    <p class="my-0 text-center text-lg text-white">{{ user.institution}}</p>
               </div>
               <div class="my-3 mx-6">
                    <h3 class="text-white">Change your password</h3>
                    <form [formGroup]="changeForm" (submit)="changePassword()">
                         <div class="mb-3 relative w-3/4">
                              <label for="password" class="block text-lg text-white">Password</label>
                              <p class="text-orange-300 text-sm text-left my-2" *ngIf="errors != null">{{ errors.password || errors.password1 }}</p>
                              <input [type]="type" required formControlName="password" id="password" class="text-md rounded-lg px-3 py-3 border-gray-200 w-full bg-white">
                              <img src="../../assets/eye-closed.png" alt="Show password" class="w-6 h-6 cursor-pointer right-0 bottom-2 absolute" (click)="showpassword()" *ngIf="togglePassword">
                              <img src="../../assets/eye-open.png" alt="Show password" class="w-6 h-6 cursor-pointer right-0 bottom-2 absolute" (click)="showpassword()" *ngIf="!togglePassword">
                         </div>
                         <div class="mb-3 relative w-3/4">
                              <label for="confirmPassword" class="block text-lg text-white">Confirm Password</label>
                              <p class="text-red-600 text-sm text-left my-2" *ngIf="errors != null">{{ errors.confirmPassword || errors.password2}}</p>
                              <input [type]="type2" required formControlName="confirmPassword" id="confirmPassword" class="text-md rounded-lg px-3 py-3 border-gray-200 w-full bg-white">
                              <img src="../../assets/eye-closed.png" alt="Show password" class="w-6 h-6 cursor-pointer right-0 bottom-2 absolute" (click)="showConfirmPassword()" *ngIf="toggleConfirmPassword">
                              <img src="../../assets/eye-open.png" alt="Show password" class="w-6 h-6 cursor-pointer right-0 bottom-2 absolute" (click)="showConfirmPassword()" *ngIf="!toggleConfirmPassword">
                         </div>
                         <div class="flex justify-center mt-10">
                              <button type="submit" class="py-3 w-2/4 bg-orange-500-500 text-white text-lg font-bold tracking-wider hover:shadow-lg border-0 rounded-lg disabled:bg-gray-50 disabled:text-black " [disabled]="!changeForm.valid" >Change</button>
                         </div>
                    </form>
               </div>

          </div>
          <router-outlet></router-outlet>
     </div>
</div>
