.header, .banner
{
     /* background: #000814; */
}
.cta-1
{
     background: #EFA11F;
     color: #001220;
}
.blue
{
     color: #001220;
}
.yellow
{
     color: #FBAE3C;
}
h3
{
     color: #001220;
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 1.4em;
}
.pulsee
{
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
     /* background-image: url(''); */
}
p,h2,h3,a, li
{
    letter-spacing: 1px;
    line-height: 25px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@media only screen and (min-width: 1000px)
{
     .banner-2
     {
          background-image: url("../../assets/images/banner-2.jpg");
          background-size: cover;
          background-color: rgba(0, 18, 32, 0.6);
          background-blend-mode: multiply;
          background-repeat: no-repeat;
          background-attachment: scroll;
     }
     .heroside1, .heroside2
     {
          background-image: url("../../assets/images/hero1.png");
          background-size: cover;
          /* background-color: rgba(0, 18, 32, 0.6);
          background-blend-mode: multiply; */
          background-repeat: no-repeat;
          background-attachment: scroll;
     }
     .pc-hero
     {
          /* background-image: url("../../assets/images/hero2.jpg"); */
          background-size: cover;
          background-color: rgba(0, 0, 0,0.7);
          /* backdrop-filter: blur(50px); */
          background-blend-mode: overlay;
          background-repeat: no-repeat;
          background-attachment: fixed;
     }
}
